html {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: VAR(--color);
}
header {
    background-color: var(--main-color);
    color: white;
    padding: 2rem;
    text-align: center;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}
section {
    margin-bottom: 3rem;
}
h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 0.3rem;
}
footer {
    text-align: center;
    padding: 2rem;
    background-color: #f0f0f0;
    font-size: 0.9rem;
}
.project {
    margin-bottom: 1rem;
}
details {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

summary {
    font-weight: bold;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 0.5rem 0;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "➕";
    position: absolute;
    right: 0;
    transition: transform 0.3s;
}

details[open] summary::after {
    content: "➖";
}

details > div {
    padding: 0.5rem 0 1rem 0;
    border-top: 1px solid #ddd;
}
div.color-wrapper {
    display: flex; 
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap; 
    align-items:center; 
    width: 100%; 
    justify-content: start;
}
div.new-p {
    margin-top: 6px;
}
label {
    font-weight: 500;
}